@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");

* {
    box-sizing: border-box !important;
    outline: 0 !important;
    border: 0 !important;
    text-decoration: none !important;
    list-style: none !important;
}

*:not(.material-icons-sharp):not(.icon) {
    font-family: "Poppins", sans-serif !important;
}

:root {
    --color-background: #f6f6f9;
    --color-background-variant: #efeff5;
    --color-white: #fff;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --img-border: 2px solid #eeeeee;
}

/* Dark mode color scheme that gets applied when .dark-mode-variables class is added to body */
/* Inverts the light theme colors to create a dark appearance */
.dark-mode-variables {
    --color-background: #181a1e;
    --color-background-variant: #3e454c;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}

body {
    width: 100vw !important;
    height: 100vh !important;
    /* font-size: 1rem !important; */
    color: var(--color-dark) !important;
    background-color: var(--color-background) !important;
    margin: 0 !important;
    padding: 0 !important;
}

.site-container {
    display: flex;
    min-height: 100vh;

    padding: 0;
    margin: 0;
}

.card {
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.ui.form .field input,
.ui.form .field textarea,
.ui.form .field .ui.dropdown {
    background: var(--color-background) !important;
    color: var(--color-dark) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    font-size: 0.84rem;
}

.ui.form .field label {
    font-size: 0.86rem;
}

.ui.form .field .description {
    margin-top: 0.1rem;
    font-size: 0.82rem;
    color: var(--color-dark-variant);
}

.ui.basic.red.pointing.prompt.label {
    font-size: 0.7rem !important;
}

.ui.search input {
    background: var(--color-background) !important;
    color: var(--color-dark);
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
